#yell{
    background-color: #2C3E50 !important;
   
}
#colorlink{
    color: #fff !important;
    font-weight: 700;
    padding:8px 15px;
    text-decoration: none;
    line-height: 24px;
    text-transform: uppercase;
}
#logo{
    color: #fff !important;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin:0px 16px 0px 0px;
    text-decoration:none;
padding:5px 0px 
}
